/* Estilos para a página de criação de novos posts */

.post-form {
  background-color: #1E1E1E; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
}

.post-form h1 {
  font-size: 24px; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaçamento inferior */
  color: #8257E5; /* Cor roxa da Rocketseat */
}

.field {
  margin-bottom: 15px; /* Espaçamento inferior entre campos */
}

.field label {
  font-weight: bold; /* Texto em negrito */
  color: #8257E5; /* Cor roxa da Rocketseat para o texto do rótulo */
}

.field input[type="text"],
.field textarea {
  width: 100%; /* Largura total do campo de entrada */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda com cor cinza */
  border-radius: 5px; /* Borda arredondada */
  background-color: #444; /* Cor de fundo do campo */
  color: #fff; /* Cor do texto do campo */
}

.actions .btn-submit {
  background-color: #8257E5; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.actions .btn-submit:hover {
  background-color: #6236af; /* Cor de fundo do botão ao passar o mouse */
}
